<configuration>
  <connectionStrings>
    <add name="RestaurantDB" connectionString="Data Source=DESKTOP-BKSRBVL\SQLEXPRESS;Initial Catalog=RestaurantDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration> 